annotated-types==0.7.0
anyio==4.9.0
-e git+https://github.com/7143cmd/First-Ml-FastAPi-experience.git@cb33b09770ecc535c4a0a9a193a54351ed8e6825#egg=bad_word
click==8.2.1
colorama==0.4.6
fastapi==0.116.1
h11==0.16.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
numpy==2.3.2
packaging==25.0
pluggy==1.6.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.1
scikit-learn==1.7.1
scipy==1.16.0
sniffio==1.3.1
starlette==0.47.2
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.14.1
uvicorn==0.35.0
